<h1>Acsess_schedules#getSchedule</h1>
<p>Find me in app/views/acsess_schedules/getSchedule.html.erb</p>
<% @schedules.each do |schedule| %>
    <p>日時(<%= schedule.id %>):<%= schedule.date %></p>
    <p>コンテンツタイトル(<%= schedule.schedule_content.id %>):<%= schedule.schedule_content.title %></p>
<% end %>
