<div>削除しますか？</div>
<p>タイトル: <%=session[:schedule]["title"]%></p>
<p>詳細: <%=session[:schedule]["detail"]%></p>
<h2>
<%= link_to "削除" , {controller: :calendars, action: :deleteConfirm},method: :post %>
</h2>