<div>以下の予定を削除しますか？</div>
<p>タイトル: <%=params[:schedule_id]%></p>
<p>詳細: <%=params[:schedule_id]%></p>
<h2>
<%= link_to "削除" , {controller: :access_schedules, action: :deleteSchedule},method: :post %>
</h2>