<h1>AcsessDBs#getSchedule</h1>
<% @schedules.each do |schedule| %>
    <p><%= schedule.date %></p>
    <p><%= schedule.schedule_contents.title %></p>
<% end %>
<p>Find me in app/views/acsess_dbs/getSchedule.html.erb</p>
